

<% unless current_user %>
  
  <div id="home-buttons">
    <%= link_to "Join", new_user_path, class: "button" %>

    <%= link_to "Log In", login_path, class: "button" %>
  </div>

<% end %>

  <h3>These ghosts are not yet being tracked. Click on a ghost to view its info, or <%= link_to "add a ghost", new_ghost_path %> to the database.</h3>

  <% @ghosts.each do |ghost| %>
    <div class="ghost-wrap">
      <img src= "<%= ghost.image_url ? ghost.image_url : 'http://securityaffairs.co/wordpress/wp-content/uploads/2015/01/Ghost-vulnerability.png'  %>" />
      <h3> <%= link_to ghost.name, ghost_path(ghost) %>
    </div>
  <% end %>

