<%= form_for @ghost do |f| %>

 
  <div class= "field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class= "field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class= "field">
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty %>
  </div>
  <div class= "field">
    <%= f.label :features, "Features (separated by commas)" %>
    <%= f.text_field :features, value: features_to_string(@ghost) %>
  </div>
  <div class= "field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  <div class= "field">
    <%= radio_button_tag :belongs_to_user, true, true %>
    <%= f.label :belongs_to_user, "Add this ghost to your own Target List" %><br>
    <%= radio_button_tag :belongs_to_user, false %>
    <%= f.label :belongs_to_user, "Add this ghost to Public List" %>

  </div>
  <%= f.submit "Add Ghost", class: "button" %>

<% end %>